/* styles.css */
.btn,
input[type="submit"] {
    display: inline-block;
    background-color: #000000;
    color: #ddc42e;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn:hover,
input[type="submit"]:hover {
    background-color: #ddc42e;
    color: #1c1a37;
}

.btn-small {
    display: inline-block;
    background-color: #000000;
    color: #ddc42e;
    font-size: 12px; /* Smaller font size */
    font-weight: bold;
    text-align: center;
    padding: 6px 12px; /* Smaller padding */
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Smaller margin */
}

.btn-small:hover {
    background-color: #ddc42e;
    color: #1c1a37;
}

.result {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

#description {
    margin-left: 2em;
    margin-top: 2em;
}

.content {
    margin-top: 2em;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
#content {
    margin-top: 2em;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
#content-index {
    margin-top: 2em;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}
.content-2 {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    padding-right: 2em;
}
.content-testresults{
    padding-right: 1em;
    display: flex;
    flex-direction: row;
    width: 40em;
    flex-grow: 1;
}
#content-track {
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
    flex-grow: 1;
}
.test-separator{
    height: 3px;
    width: 80%;
    color: #fff;
    background-color: #fff;
    text-align: left;
    margin: 0 auto 0 0;
    margin-bottom: 1em;
}
#navbarNavDropdown {
    display: flex;
}

#sidebar-content {
    display: none;
}

#sidebar-wrapper.toggled #sidebar-content {
    display: block;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #page-content-wrapper {
    min-width: 0;
    width: 100%;
}