{% extends 'base.html' %}
{% block title %}
    Lions Web PTT - Change Password
{% endblock %}
{% block content %}
    <div id="description">
        <h3>Change Password</h3>
    </div>
    <div id="content">
    <form action="{{ url_for('change_password') }}" method="post">
        <p>
            <label>Current Password:</label>
            <input type="password" name="current_password" required>
        </p>
        <p>
            <label>New Password:</label>
            <input type="password" name="new_password" required>
        </p>
        <p>
            <label>Confirm New Password:</label>
            <input type="password" name="confirm_password" required>
        </p>
        <p>
            <input type="submit" value="Change Password">
        </p>
    </form>
    </div>
{% endblock %}