{% extends 'base.html' %}
{% block title %}
    Lions Web PTT - {{ exercise_name }}
{% endblock %}
{% block content %}
    <h1>{{ exercise_name }} Assessment</h1>
    <form action="{{ url_for('results.result', id=id) }}" method="POST">
        <input type="hidden" name="exercise_id" value="{{ id }}">
        {% for question, answer in zip(questions, answers) %}
        <div class="question">
            <p>{{ question }}</p>
        </div>
        <label for="answer">Your Answer:</label>
        <input type="text" id="answer" name="answer" required value="{{ answer }}">
        <br>
        {% endfor %}
        <button type="submit" class="btn">Submit</button>
        <a href="/" class="btn">Return to Home</a>
        <a href="{{ url_for('exercises.exercise_landing_page', id=id) }}" class="btn">Back to {{ exercise_name }} Landing Page</a>
        <a href="{{ url_for('exercises.exercise_clear', id=id) }}" class="btn">Clear Answers</a>
    </form>
{% endblock %}
