<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defensive Cyber Skills Training</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>32 WPS Part Task Trainer</h1>
        <p>Welcome to the Lions Cyber Skills Training platform!<br />
        Enhance your cybersecurity knowledge and validate your learning by participating in our interactive exercises.</p>
        {% for track_name, exercises in tracks.items() %}
        <h2>{{ track_name }}</h2>
        <ul>
            {% for id, exercise in exercises %}
            <p><a href="{{ url_for('exercise', id=id) }}" class="btn">{{ exercise }}</a></p>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</body>
</html>
